
  <keyboard>

    <keybind key="W-Escape">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh C</execute>
      </action>
    </keybind>
    <keybind key="W-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh T</execute>
      </action>
    </keybind>
    <keybind key="W-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh B</execute>
      </action>
    </keybind>
    <keybind key="W-S-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-T</execute>
      </action>
    </keybind>
    <keybind key="W-S-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-B</execute>
      </action>
    </keybind>
    <keybind key="W-Left">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh L</execute>
      </action>
    </keybind>
    <keybind key="W-Right">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh R</execute>
      </action>
    </keybind>
    <keybind key="W-S-Left">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-L</execute>
      </action>
    </keybind>
    <keybind key="W-S-Right">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-R</execute>
      </action>
    </keybind>
    <keybind key="W-C-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh TL</execute>
      </action>
    </keybind>
    <keybind key="W-C-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh BL</execute>
      </action>
    </keybind>
    <keybind key="W-A-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh TR</execute>
      </action>
    </keybind>
    <keybind key="W-A-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh BR</execute>
      </action>
    </keybind>
    <keybind key="W-C-S-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-TL</execute>
      </action>
    </keybind>
    <keybind key="W-C-S-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-BL</execute>
      </action>
    </keybind>
    <keybind key="W-A-S-Up">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-TR</execute>
      </action>
    </keybind>
    <keybind key="W-A-S-Down">
      <action name="Execute">
        <execute>~/scripts/aero-snap.sh SHIFT-BR</execute>
      </action>
    </keybind>
    </keybind>

  </keyboard>

